.dl-menu-wrap {
  display: none;
  position: relative;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #D5EBF1; }
  .dl-menu-wrap * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .dl-menu-wrap .dl-menu-list_wrapper {
    overflow-y: auto; }
  .dl-menu-wrap.active {
    display: inline-block; }
  .dl-menu-wrap .dl-menu-search_wrap {
    padding: 5px; }
  .dl-menu-wrap .dl-menu-search {
    width: 100%;
    display: block; }
    .dl-menu-wrap .dl-menu-search + .dl-menu-list {
      position: relative;
      margin-top: 10px;
      left: 0; }
  .dl-menu-wrap .dl-menu-list, .dl-menu-wrap .dl-menu-list_top {
    list-style: none;
    padding: 0;
    margin: 0;
    left: 100%; }
  .dl-menu-wrap .dl-menu-list {
    position: absolute;
    border: 1px solid #D5EBF1;
    background-color: #fff;
    display: none; }
    .dl-menu-wrap .dl-menu-list.active {
      display: block;
      top: -1px;
      bottom: -1px; }
  .dl-menu-wrap .dl-menu-list_item {
    padding: 5px 0;
    background-color: #ffffff;
    overflow: hidden;
    white-space: nowrap; }
    .dl-menu-wrap .dl-menu-list_item:hover {
      background-color: #F2FAFC; }
    .dl-menu-wrap .dl-menu-list_item.marquee > .dl-menu-list_item_label {
      text-overflow: inherit;
      overflow: visible;
      animation: marquee 10s linear infinite; }
    .dl-menu-wrap .dl-menu-list_item + .dl-menu-list_item--special {
      margin-top: 15px; }
  .dl-menu-wrap .dl-menu-list_item_label {
    padding: 5px 25px 5px 5px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
    color: #9FBBC1; }
  .dl-menu-wrap .dl-menu-list_item--children > .dl-menu-list_item_label:before {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 6px solid #9FBBC1;
    margin-top: 5px;
    z-index: 1; }
  .dl-menu-wrap.mobile.active {
    display: block; }
  .dl-menu-wrap.mobile .dl-menu-list {
    position: relative;
    border: 0;
    background-color: #fff;
    left: 0;
    padding-left: 15px; }
    .dl-menu-wrap.mobile .dl-menu-list.active {
      display: block;
      top: inherit;
      bottom: inherit; }
  .dl-menu-wrap.mobile .dl-menu-list_item {
    padding-bottom: 0; }

@keyframes marquee {
  0% {
    transform: translateX(0); }
  35% {
    transform: translateX(-100%); }
  75% {
    transform: translateX(75%); }
  100% {
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
